@import 'palette';
@import 'settings';
@import 'foundation';
@import 'foundation-icons';

@font-face {
  font-family: "foundation-icons";
  src: url("../fonts/foundation-icons.eot");
  src: url("../fonts/foundation-icons.eot"), url("../fonts/foundation-icons.ttf"), url("../fonts/foundation-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons.woff") format("woff"), url("../fonts/foundation-icons.ttf") format("truetype"), url("../fonts/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal; }

$base_border_color: $smoke;
/*$base_background_color: #f4f8fc;*/

input.error, textarea.error , select.error {
 border-color: $alert-color;
}

body {
	background-color: $body-bg;
}

.container {
	margin: 5px;
}

.login-form .row.login-username {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form .row.login-password {
	margin-bottom: 25px;
}

.plan-card {
	border: 1px solid darken($base_border_color,10%);
	margin: $column-gutter 0px 0px 0px; 
	height: 200px;
	position: relative;
	background-color: $white;
	@include radius();
	@include block-glowing-effect('hover','300ms',fade-out( $charcoal, .25));
}

.plan-card-details {
	font-size: 85%;
	color: $charcoal;
	padding: 8px 8px 8px 8px;
}

.plan-card-status {
	padding: 4px 8px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.plan-card.plan-submitted {
	border-color: darken( $info-color, 5% );
	@include block-glowing-effect('hover','300ms',fade-out( $info-color, .25));
}

.plan-card.plan-approved {
	border-color: darken( $success-color, 5% );
	@include block-glowing-effect('hover','300ms',fade-out( $success-color, .25));
}

.plan-card-status.plan-draft {
	background-color: $base_border_color;
	color: darken( $base_border_color, 30% );
}

.plan-card-status.plan-submitted {
	background-color: $info-color;
	color: lighten( $info-color, 30% );
}

.plan-card-status.plan-approved {
	background-color: $success-color;
	color: $white;
}

.plan-details .callout {
	padding: 8px;
	font-size: 80%;
}

ul.scrollable {
    max-height: 20em;
    line-height: 2em;
    /*border: 1px solid #ccc;*/
    border-bottom: 1px solid $smoke;
    padding: 0;
    margin-left: 0;
    overflow: scroll;
    overflow-x: hidden;
}

ul.scrollable li.selected {
 background-color: $primary-color;
}

ul.scrollable li.selected a {
 color: white
}


#tactics > .tabs dd {
	border-right: 1px solid $aluminum;
}

#tactics > .tabs dd.active {
	border: 1px solid $aluminum;
	border-right: 1px solid white;
}

#plan > .tabs {
	margin-top: 16px;
}

#plan > .tabs dd {
	border: 1px solid $base_border_color;
	margin-right: 5px;
}

#plan > .tabs dd a {
		color: $aluminum;
}

#plan > .tabs dd.active a {
	color: black;
}

#plan > .tabs-content {
	margin-top: 5px;
	
	border: 1px solid $base_border_color;
}

#plan > .tabs-content, #plan > .tabs-content .content {
	padding: 0;
}

#plan-details {
	padding: 0px 20px;
}

#tactics {
	padding: 0;
}

#tactics ul.side-nav {
	padding: 0;
}

#tactics ul.side-nav li {
	margin: 0;
}



.accordion .content {
	border: 1px solid $base_border_color;
}

dl.accordion dd {
	margin-bottom: 5px !important;
}

dl.accordion dd a {
	padding: 0;
}
.accordion .heading button {
	margin-bottom: 0;
}

.accordion .heading, .accordion div.title, .accordion div.remove, .accordion .heading button {
	height: 50px;
}

.accordion .heading div.title {
	padding: 10px 10px 10px 20px;
	color: $aluminum;
}

.accordion .active div.title {
	color: black;
}
