<!--
<div class='row'>
	<div class='columns small-3 medium-2'>
		<a href="#/plan" class='button radius small expand info' ><span class='fi-arrow-left'></span>&nbsp;Plans</a>
	</div>
	<div class='columns small-8 medium-8 small-offset-1 medium-offset-2'>
	 
		 <ul class='button-group even-{{plan.plan.status()==="Draft"?"4":"2"}}'>
		  <li>
		   <a href='' role='button' class='button radius small info' ng-disabled='!planForm.$dirty' ng-click='plan.refresh(plan.plan)'>
			   <span class='fi-refresh'></span>&nbsp;Refresh
			  </a>
			 </li>
		  <li>
		   <a href="" role='button' class="button radius small" ng-disabled='planForm.$pristine' ng-click='plan.save(plan.plan)'>
			   <span class='fi-archive'></span>&nbsp;Save
			  </a>
		  </li>
		  <li>
		   <a ng-show='plan.plan.status()==="Draft"' href="" role='button' class="button small alert" ng-click='plan.remove(plan.plan)'>
			   <span class='fi-x'></span>&nbsp;Remove
		   </a>
		  </li>
		  <li>
		   <a ng-show='plan.plan.status()==="Draft"' href="" role='button' class="button radius small success" ng-disabled='!plan.plan.readyForSubmission()' ng-click='plan.submit(plan.plan)'>
			   <span class='fi-upload'></span>&nbsp;Submit
		   </a>
		  </li>
			</ul>
		 
	</div>
</div>
-->

<div class='icon-bar four-up'>
  <!--
<a class="item" href="#/plan">
    <i class='fi-arrow-left'></i>
    <label>Plans</label>
  </a>
-->
  <a class="item" ng-class='!planForm.$dirty?"disabled":""' ng-click='plan.refresh(plan.plan)' tooltip='Click to reload plan from server.' tooltip-popup-delay='200' tooltip-animation="false" >
    <i class='fi-refresh'></i>
    <label>Refresh</label>
  </a>
  <a class="item save" ng-class='planForm.$pristine?"disabled":""' ng-click='plan.save(plan.plan)' tooltip='Click to save the plan to the server.' tooltip-popup-delay='200' tooltip-animation="false" >
    <i class='fi-archive'></i>
    <label>Save</label>
  </a>
  <a class="item submit" ng-class='!plan.planService.canSubmit(plan.plan)||plan.plan.status()!=="Draft"?"disabled":""' ng-click='plan.submit(plan.plan)' tooltip='Click to submit the plan.' tooltip-popup-delay='200' tooltip-animation="false" >
    <i class='fi-upload'></i>
    <label>Submit</label>
  </a>
  <a class="item remove" ng-class='plan.plan.status()!=="Draft"?"disabled":""' ng-click='plan.remove(plan.plan)' tooltip='Click to completely remove the plan.' tooltip-popup-delay='200' tooltip-animation="false" >
    <i class='fi-x'></i>
    <label>Remove</label>
  </a>
</div>