 <div class='home-top'>
	 <div class='row'>
			 <div class='columns small-12'>
	    <h2 class='welcome'>McGraw Hill Education - Marketing Plans</h2>
	   </div>
	 </div>
 </div>
 <div class='home-bottom'>
 
	 <div class='row'>
			 <div class='columns small-12'>
	    <h3 class='welcome'>Welcome {{home.username}}!</h3>
	    <p>This is the McGraw Hill Education Marketing Planning site.  Please choose one of the following options to get started!</p>
	    <ul class='button-group'>
 	    <li><a class='button secondary radius' href='#/myplans'>Edit My Plans</a></li>
 	    <li><a class='button primary radius' href='#/addnewplan'>Start A New Plan</a></li>
	    </ul>
	   </div>
	</div>
 </div>