 


<div class='row login-form'>
	 <div ng-show='processing'>Logging In...</div>
	 <div class='small-6 large-4 large-centered small-centered columns' ng-hide='processing'>
		 <h1>Login</h1>
		 <form role="form" ng-submit='login.login()'>
			  <div class="form-group">
			    <label for="username">Username
			    <input type="text" class="form-control" id='username' ng-model='login.username' placeholder="Enter email">
			    </label>
			  </div>
			  <div class="form-group">
			    <label for="pass">Password</label>
			    <input type="password" class="form-control" id='pass' ng-model='login.password' placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary btn-lg">Log In!</button>
			</form>
	 </div>
</div>