
    <div class='sticky header' ng-controller='NavController as nav'>
     <top-bar role='navigation'>
		    <ul class="title-area">
		      <li class="name">
		        <h1><a href="#/"><img src='img/mhe-logo.png' alt='McGraw Hill Education' height='39' width='39'/>&nbsp;Strategic Marketing Campaign Form</a></h1>
		      </li>
		      <li toggle-top-bar class="menu-icon"><a href="">Menu<span></span></a></li>
		    </ul>
		
		    <top-bar-section>
		      
		      <ul class="left" ng-show='nav.isLoggedIn()'>
		        <li class='{{nav.$location.path().substring(1,8)==="myplans"?"active":""}}'>
			        <a ng-click='nav.$location.path("myplans").search("s",null)'>
				        <span class='fi-page-multiple'></span>&nbsp;My Plans
				       </a>
				      </li>
				      <li><a ng-click='nav.addNewPlan()'><span class='fi-plus'>&nbsp;Add New Plan</span></a></li>
		      </ul>
		      
		      <ul class="right" ng-show='nav.isLoggedIn()'>
		        <li><a href='' class='disabled'><span class='fi-torso'></span>&nbsp;{{nav.username}}</a></li>
										<li><a href='' ng-click='nav.logout()'><span class='fi-power'></span>&nbsp;Logout</a></li>
		      </ul>
		    </top-bar-section>
		   </top-bar>
    </div>
