 <div class='row'>
	 <div class='small-12 columns'>
		 
		 <div class='row'>
			 
			 <div class='small-8 medium-10 columns'>
				 <dl class="sub-nav">
					  <dt>Filter:</dt>
					  <dd ng-class='plans.filterText()==="All"?"active":""'><a href=''ng-click='plans.setFilter()'>All</a></dd>
					  <dd ng-class='plans.filterText()==="Draft"?"active":""'><a href=''ng-click='plans.setFilter("Draft")'>Draft</a></dd>
					  <dd ng-class='plans.filterText()==="Submitted"?"active":""'><a href=''ng-click='plans.setFilter("Submitted")'>Submitted</a></dd>
					  <dd ng-class='plans.filterText()==="Approved"?"active":""'><a href=''ng-click='plans.setFilter("Approved")'>Approved</a></dd>
					</dl>
			 </div>
			 <div class='small-4 medium-2 columns'>
				 <select class='years' type='text' name='year' x-ng-model='year' x-ng-options='year for year in plans.years' ></select>
			 </div>
			 
		 </div>
		 
	  <div ng-if='( plans.plans !== null && plans.plans.items.length === 0 && plans.load_complete === true ) || ( plans.plans === null && plans.load_complete === true )'>
		  <div class='row'>
			  <div class='columns small-12'>
				  <div class="panel callout radius"><h5>No Plans Found</h5><p>No {{ plans.filterText() !== "All" ? plans.filterText().toLowerCase() : "" }} plans were found for {{ year }}. </div>
				 </div>
				</div>
	  </div>
	  <div ng-show='plans.plans!==null && plans.plans !== undefined && plans.load_complete === true'>
	  
		  <div class='row' ng-repeat='_plans in plans.plan_groups'>
			  <div ng-repeat='(i, item) in _plans track by item.data.__guid'>
				  <div ng-class='_plans.length < plan.cols && i==_plans.length ?"end":""'class='small-{{plans.foundationColsSm}} large-{{plans.foundationColsLg}} medium-{{plans.foundationColsMd}} columns' >
						 <plan-card plan='item' ng-click='plans.clickPlan(item)'></plan-card>
						</div>
			  </div>
			 </div>
		  
		  <div class='row' ng-show='plans.plans.hasPaging()'>
	    <div class='columns small-4'>
		    <span ng-show='plans.plans.hasPrevious()' class='left start'><a ng-click='plans.getPlans(plans.plans.start())'>First</a></span>
	      <span ng-show='plans.plans.hasPrevious()' class='left previous'>&nbsp;|&nbsp;<a ng-click='plans.getPlans(plans.plans.previous())'>Previous</a></span>
	      <span ng-show='!plans.plans.hasPrevious()'>&nbsp;</span>
	    </div>
	    <div class='columns small-4 text-center'>
		    <small>{{ plans.recordDisplay }}</small>
	    </div>
	    <div class='columns small-4'>
		    <span ng-show='plans.plans.hasNext()' class='right start'><a ng-click='plans.getPlans(plans.plans.end())'>Last</a></span>
	      <span ng-show='plans.plans.hasNext()' class='right next'><a ng-click='plans.getPlans(plans.plans.next())'>Next</a>&nbsp;|&nbsp;</span>
	    </div>
		  </div>
	  
	  </div>

	  <div ng-hide='plans.load_complete === true' class='row'>
		  <div class='small-centered small-3 columns'>
			  <div class='panel loading text-center'>
				  <p>Loading Plans...</p>
				  <p class='text-center'><h1><i class='fa fa-spinner fa-spin'></i></h1></p>
			  </div>
		  </div>
	  </div>
	 </div>
 </div>