 <div class='row'>
	 <div class='small-12 columns'>
	  <h2>My Plans</h2>
	  
		  <div class='row' ng-repeat='_plans in plans.plan_groups'>
			   <div class='small-{{plans.foundationColsSm}} large-{{plans.foundationColsLg}} medium-{{plans.foundationColsMd}} columns' ng-repeat='item in _plans'>
				    <plan-card plan='item' ng-click='plans.clickPlan(item)'></plan-card>
				   </div>
		  </div>
	  
	  <div class='row' ng-show='plans.plans.hasPaging()'>
	    <div class='columns small-4'>
		    <span ng-show='plans.plans.hasPrevious()' class='left start'><a ng-click='plans.getPlans(plans.plans.start())'>First</a></span>
	      <span ng-show='plans.plans.hasPrevious()' class='left previous'>&nbsp;|&nbsp;<a ng-click='plans.getPlans(plans.plans.previous())'>Previous</a></span>
	    </div>
	    <div class='columns small-4'>
		    <small>{{ plans.recordDisplay }}</small>
	    </div>
	    <div class='columns small-4'>
		    <span ng-show='plans.plans.hasNext()' class='right start'><a ng-click='plans.getPlans(plans.plans.end())'>Last</a></span>
	      <span ng-show='plans.plans.hasNext()' class='right next'><a ng-click='plans.getPlans(plans.plans.next())'>Next</a>&nbsp;|&nbsp;</span>
	    </div>
	  </div>
	  
	 </div>
 </div>
 <div class='row'>
	 <div class='small-4 small-centered columns'>
		 <button class='button expand success' ng-click='plans.addNew()'>Add New</button>
	 </div>
 </div>
